<div class="container">
	<div class="content">
	<form action="/results" class="searchform">
		<!-- <span class="searchtitle">What movie are you looking for?</span> -->
		<input type="text" name="movietitle" class="submittext">
		<input type="submit" class="submitbutton" value="Search!">
	</form>
	</div> <!-- end content -->
</div>