<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
	<title>Movie Tweets</title>
	<link rel="stylesheet" href="stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="http://www.favicon.cc/favicon/995/710/favicon.png" />
	
</head>
<body>
<div class="header">	
<%= erb :header %>
</div>

<%= yield %>

<%= erb :footer %>

</body>
</html>