<div class="container">
	<div class="content" 
		style="background: url(http://image.tmdb.org/t/p/original/2blmxp2pr4BhwQr74AdCfwgfMOb.jpg) no-repeat">
	<div class="tweets"> 
		<p class="singletweet">@DavidGamerBlog Bioshock is an amazing series but the Batman Arkham series is the one for me btw thanks for the spoiler about infinite</p>
		
		<p class="singletweet">RT @horandelcraics: "tumblr fans are hating on the you and i video"

	*smirks* 
	*whispers*

	this is why liam thanked the TWITTER fans at the…</p>
		
		<p class="singletweet">RT @batw4ng: It's blatantly obvious that a person hasn't read a Batman comic book ever when they think Robin is just some gay sidekick.</p>
		
		<p class="singletweet">RT @JamesCerbie: Pumped to get my welcome package from @indyFAST @RobTrainSystems today.  Hats off for Becoming Batman being on top. http:/…</p>
		
	</div>

	<div class="movietitle">#Batman</div>
	<!-- <p> <img class="tmdbimage" src="http://image.tmdb.org/t/p/original/2blmxp2pr4BhwQr74AdCfwgfMOb.jpg" alt="">	 </p> -->
	</div> <!-- end content -->
</div> <!-- end container -->